.hidden {
    display: none;
}

nav {
    color: olive !important;
}

.btn {
    background-color: orange !important;
    border-color: orange !important;
}

.btn-secondary {
    background-color: white !important;
    color: orange !important;
}

.current-page-button {
    background-color: white !important;
    color: orange !important;
}

.line {
    background-color: orange;
    width: 300px;
    height: 3px;
}

.tagImage {
    background-image: url("images/motoBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tagText {
    border-radius: 10%;
    backdrop-filter: blur(20px);
}

.page-link {
    color: orange !important;
    border-color: orange !important;
}

.active .page-link {
    background-color: orange !important;
    color: white !important;
}

.disabled .page-link {
    color: #212529 !important;
}

th {
    background-color: orange !important;
    color: white !important;
}

body {
    min-height: 100vh;
}